@media screen and (min-width:744px) {


    .padding40 {
        padding: 0 40px;
    }
    .mobile-header {
        display: none;
    }
    .laptop-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 80px;
        width: 100%;
        /* border-bottom: 1px solid rgb(240, 239, 239); */
    }
    .Lapcontainer {
        width: 100%;
        padding: 0 40px;
        display: flex;
        flex-flow: row;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
    }
    .logo {
        height: 80px;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
    }
    .logo .smallScreen  {
        display: none;
    }
    .logo svg {
        fill: #ff385c;
    }
    .input-paddng {
        flex: 1 0 auto;
        padding: 0 24px;
        min-width: 340px;
    }
    .circle-red {
        width: 32px;
        height: 32px;
        border-radius: 25px;
        background: #ff385c;
        margin: 7px 7px 7px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .circle-red svg {
        fill: #fff;
        width: 12px;
        height: 12px;
    }

    .input-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-end;
        border-radius: 100px;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 4px 12px rgba(0,0,0,0.05);
    }
    .input-container > div {
        flex: 1 0 auto;
    }
    .input-child-flex {
        display: flex;
        align-items: center;
    }
    .profile-content {
    padding: 5px 5px 5px 12px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
        border: 1px solid #ddd;
    }
    .profile-parent {
        width: 77px;
        height: 42px;
        position: relative;
        margin-top: 1px;
    }
    .profile {
        display: flex;
    }
    .profile svg {
        margin-left: 12px;
    }
    .red-dot {
        width: 14px;
        height: 14px;
        background: red;
        border-radius: 25px;
        position: absolute;
        right: 3px;
        top: 1px;
        border: 2px solid #fff;
    }
    
    .globe-svg {
        padding: 12px;
    }    
    .globe-svg svg {   
        height: 18px;
        width: 16px;
        fill: #222;
    }
    .input-I {
        padding-left: 8px;
        margin: -1px;
        min-width: 80px;
    }
    .input-II ,.input-III {
        margin: -1px;
        display: flex;
        align-items: center;
        min-width: 80px;
    }
    .input-child-flex {
        min-width: 80px;
    }
    .content-inside {
        min-width: 80px !important;
        font-weight: 600 !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #717171;
        padding: 0px 16px;
    }
    .input-container div:last-child{
        color: #222;
    }
    .input-child-flex .content-inside {
        font-weight: 400 !important;
    }
    .about-details {
        display: flex;
        flex: 1 0 auto;
        justify-content: right;
    }
    .host-bttn-parent {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-end;
        margin-right: 8px;
    }
    .host-bttn {
        padding: 12px;
        color: #222;
        font-size: 14px;
        font-weight: 600;
    }
    .line24 {
        width: 1px;
        height: 24px;
        border-right: 1px solid #ddd;
    }
    /* nav */

    nav {
        top: 80px;
    }
    .hide-on-mobile {
        display: block;
    }
    .nav-grid-container {
        border-bottom: none;
        box-shadow: none;
        grid-gap: 32px;
        padding: 0;
    }
    .navchild {
        width: 100%;
        height: 78px;
        padding: 0px 40px;
        display: flex;
        flex-flow: row;       
    }
    nav {
        height: auto;
        padding-top: 19px;
        border-top: 1px solid #eee;
    }
    .nav-container {
        display: flex;
        min-width: 554px;
        flex: 1 1 auto;

        padding: 0;
    }
    .nav-card-flex {
        min-width: 56px;
        gap: 7px;
    }
    .nav-filter-parent {
        width: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-filter-Pleft {
        padding-left: 20px;
    }
    .nav-filter {
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 8px 16px;
    }
    .nav-filter-content {
        width: 57px;
        height: 30px;
        display: flex;
        flex-flow: row;
        gap: 8px;
        align-items: center;
        /* justify-content: center; */
        

    }
    .nav-filter-content div {
        margin-bottom: -1px;
        font-size: 12px;
        font-weight: 600 !important;
        color: #000;
    }
    .right-arrow-circle {
        width: 28px;
        height: 28px;
        border-radius: 25px;
        border: 1px solid #bbb;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-arrow-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -20px 0px 22px 4px #fff;
        margin-left: 3px;
        z-index: 10;
    }

    .P-right-left {
        width: 33.333%;
    }
    
    main {
        /* margin: 16px 0 40px 0; */
        padding: 0;
    }
    .sec-parent {
        margin-bottom: 0;
    }
    .F-content-text {
        margin: 0 -12px;
        display: flex;
        flex-wrap: wrap;
    }
    .F-text {
        width: 33.3333%;
        padding: 0 12px;
        margin: 12px 0 0 0 ;
    }
    .footer-container {
        border: none;
    }
    .socials {
        display: flex;
        margin-left: 32px;
    }
    .fb, .twitter {
        margin-right: 24px;
    }
    .footer-bottom-first {
        justify-content: center;
    }
    .footer-bottom-last {
        align-items: center;
    }
    .floating-bttn {
        display: block;
    }










    
}
@media screen and (min-width:757px) {
    .input-container {
        width: 351px;
    }
    .input-paddng {
        max-width: 400px;
    }

}
