@media screen and (min-width:744px) {
    .mobile-header {
        display: none;
    }
    .laptop-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 80px;
        width: 100%;
        /* border-bottom: 1px solid rgb(240, 239, 239); */
    }
    .Lapcontainer {
        width: 100%;
        padding: 0 40px;
        display: flex;
        flex-flow: row;
        align-items: center;
    }
    .logo {
        height: 80px;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: center;
    }
    .logo .smallScreen  {
        display: none;
    }
    .logo svg {
        fill: #ff385c;
    }
    .input-paddng {
        padding: 0 24px;
        min-width: 348px;
    }
    .circle-red {
        width: 32px;
        height: 32px;
        border-radius: 25px;
        background: #ff385c;
        margin: 7px 7px 7px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .circle-red svg {
        fill: #fff;
        width: 12px;
        height: 12px;
    }

    .input-container {
        display: flex;
        flex-flow: row;
        align-items: center;
        border-radius: 100px;
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    }
    .input-child-flex {
        display: flex;
        align-items: center;
    }
    .profile-content {
    padding: 5px 5px 5px 12px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
        border: 1px solid #ddd;
    }
    .profile-parent {
        width: 77px;
        height: 42px;
        position: relative;
        
    }
    .profile {
        display: flex;
    }
    .profile svg {
        margin-left: 12px;
    }
    .red-dot {
        width: 14px;
        height: 14px;
        background: red;
        border-radius: 25px;
        position: absolute;
        right: 3px;
        top: 1px;
        border: 2px solid #fff;
    }
    
    .globe-svg {
        padding: 12px;
    }    
    .globe-svg svg {   
        height: 18px;
        width: 16px;
        fill: #222;
    }
    .input-I {
        padding-left: 8px;
        margin: -1px;
    }
    .input-II ,.input-III {
        margin: -1px;
        display: flex;
        align-items: center;
    }
   
    .input-container span {
        padding: 0px 16px;
        color: #222;
        font-size: 14px;
        font-size: 600;
    }
    .about-details {
        display: flex;
        flex: 1 0 auto;
        justify-content: right;
    }
    .host-bttn-parent {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: flex-end;
        margin-right: 8px;
    }
    .host-bttn {
        padding: 12px;
        color: #222;
        font-size: 14px;
        font-weight: 600;
    }
    .line24 {
        width: 1px;
        height: 24px;
        border-right: 1px solid #ddd;
    }
    
}