@media screen and (min-width:1128px) {
    .logo .bigScreen {
        display: none;
    }
    .logo .smallScreen {
        display: block;

    }
    .logo.smallScreen svg {
        fill: #ff385c;
    }
    .cards-container {
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
    
}