@media screen and (min-width:1128px) {
    .logo .bigScreen {
        display: none;
    }
    .logo .smallScreen {
        display: block;

    }
    .logo.smallScreen svg {
        fill: #ff385c;
    }
    .show-1128 {
        display: block;
    }
}