@media screen and (min-width:1440px) {
   .padding80 {
    padding: 0 80px !important;
    max-width: 2520px;
    margin: 0 auto;
   }
   .Lapcontainer {
      max-width: 2520px;
      margin: 0 auto;
   }


}
@media screen and (min-width:1640px) {
   .show-1640 {
      display: block;
   }
}
@media screen and (min-width:1880px) {
   .show-1880 {
      display: block;
   }
}