* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
    @font-face {
        font-family:CircularB;
        src:url(/assets/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
       }
       @font-face {
        font-family:Circular;
        src:url(/assets/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
       }
       @font-face {
        font-family:CircularM;        
        src:url(/assets/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
       }     

:root {
    --Sborder:0.5px solid rgba(0,0,0,0.08);
}
body {
    text-decoration: none;
    font-size: 14px; 
    font-family:   circular;  
    line-height: 1.43;
    color: #484848;
    background: #fff;
}
ul, li {
    text-decoration: none;
}

.mobile-header {
    width: 100%;
    padding: 14px 24px 0;
}
.laptop-header {
    display: none;
}

.M-header-container {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    min-height: 56px;
    min-width: 285px;
    border-radius: 100px;
    border: var(--Sborder);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.header-search-input {
    width: 100%;
    min-width: 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.search-svg {
    padding: 0 16px 0 20px;
}
.input-text {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}
.input-content {
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2px;
}
.input-title {
    margin-bottom: -4px;
    font-size: 14px;
    color: #222222;
    font-weight: 800;
}
.input-textp {
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-textp span {
    font-size: 12px;
    color: #717171;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.round-bttn {
    width: 36px;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot {
    width: 1px;
   margin: 0 5px;
   border: 1px solid #6d6d6d;
   border-radius: 25px;
}
.hide-on-mobile {
    display: none;
}
/* nav */
nav {
    height: 74px;
}
.nav-container {
    height: 100%;
}
.nav-grid-container {
    height: 100%;
    padding: 0 24px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
    overflow: scroll;
    scrollbar-width: none;
    border-bottom: 1px solid #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.08);
}
.nav-grid-container::-webkit-scrollbar {
    display: none;
}
.nav-card {
    margin: 12px 0 0 0;
    padding: 4px 0 14px 0;
    text-align: center;
}
.nav-card-flex {
    min-width: 64px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 4px;
}
.nav-card-flex:hover img {
    filter: none;
}
.nav-card-flex:hover div {
    color: #000;
}
.nav-card:hover {
    border-bottom: 2px solid #dbdbdb;
}
.primary-card  {
    border-bottom: 2px solid #000;
}
.primary-card .nav-card-flex img {
    filter: none;
}
.primary-card .nav-card-flex .nav-card-text {
    color: #000;
}
.nav-card-text {
    font-size: 12px;
    font-weight: 600 !important;
    color: #717171;
    white-space: nowrap;
}
.nav-card-flex img {
    width: 24px;
    height: 24px;
    filter: contrast(calc(0.295));
}

.nav-card-flex:hover {
        filter: none;
        color: #000;
    }
    
.show-550,.show-950 ,.show-1128,.show-1640,.show-1880 {
    display: none;
}

main {
    padding: 0 0 32px;
}
section {
    padding: 0 24px;
    display: flex;
    gap: 24px;
    /* row-gap: 40px; */
}
.cards-container {
    margin: 24px 0px;

}
.card {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}
.card-img {
    margin-bottom: 12px;
    border-radius: 12px;
}
.card-img img {
    border-radius: 12px;
}
.card-content {
    display: flex;
    flex-flow: column;
    /* gap: 2px; */
}
.card-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    color: #222;
}
.card-km ,.card-date {
    font-size: 15px;
    color: #717171;
}
.card-price {
    margin-top: 6px;
    color: #222;
    
}
.card-price .price {
    font-weight: 600;
}









.card img {
    max-width: 500px;
}