@media screen and (min-width:950px) {
.logo , .about-details{
    flex: 1 0 140px;
    justify-content: flex-start;
    align-items: center;
    
}
.cards-container {
    grid-template-columns: repeat(3,minmax(0,1fr));
}





}